body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #2d3e50, #4a6572);
    color: white;
    min-height: 100vh;
}

.navbar {
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(8px);
}

.navbar-brand, .nav-link {
    color: white !important;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: none;
    color: white;
}

.card-title {
    color: #50fa7b;
}

.btn-outline-success {
    background: linear-gradient(45deg, #50fa7b, #00bcd4);
    color: #ffffff;
    border-color: #50fa7b;
}

.btn-outline-success:hover {
    background: linear-gradient(45deg, #00bcd4, #50fa7b);
    background-color: #50fa7b;
    color: #2d3e50;
}

.pagination .page-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-color: #50fa7b;
}
.pagination .page-link:hover {
    background: linear-gradient(45deg, #00bcd4, #50fa7b);
    background-color: #50fa7b;
    color: #2d3e50;
}
.pagination .page-item.active .page-link {
    background: linear-gradient(45deg, #50fa7b, #00bcd4);
    color: #ffffff;
    border-color: #50fa7b;
}

#search-input {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-color: #50fa7b;
}

#search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#search-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(80, 250, 123, 0.25);
}

/* Ajuste para que el input de búsqueda tenga la misma altura que los botones */
#search-input, .btn {
    height: 38px;
}